#nav-bar {
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 80px;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  margin-right: 10px;
  float: left;
}

#nav-bar .header {
  font-size: 2em;
  float: left;
}