#nav-bar {
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: #7FC18B;
  color: #d7eddb;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 80px;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  margin-right: 10px;
  float: left;
}

#nav-bar .header {
  font-size: 2em;
  float: left;
}

#nav-bar .compose {
  float: right;
  margin-top: 17px;
  height: 45px;
  line-height: 5px;
  border-radius: 2px;
  background: #65b473;
  box-shadow: 3px 7px 18px #57ae67;
  color: #d7eddb;
}

#nav-bar .compose:hover {
  background: #57ae67;
  box-shadow: none;
}