.new-tweet {
  margin-left: 2em;
  margin-right: 2em;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  background: #d7eddb;
}

.new-tweet h3 {
  border-bottom-style: solid;
  border-width: 1px;
  padding-top: 10px;
  font-size: 22px;
  color: #6ba775;
}

input[type="submit"] {
  margin-bottom: 10px;
  border-radius: 5px;
  background: linear-gradient(#ffffff, #6ba775);
}

form[action="/tweets"] {
  position: relative;
}

textarea[name="text"] {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.counter {
  float: right;
}

.overlimit {
  color: red;
}

article {
    display: block;
}

.tweets {
  padding-bottom: 10px;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 10px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #b0dbb7;
}

.tweets:hover {
  border-color: #6ba775;
}

.tweets:hover h1 {
  color: #6ba775;
}

.tweets:hover h2 {
  color: #6ba775;
}

.tweets:hover .aTweet {
  color: darkslategrey;
}

.tweets:hover .icon {
  color: darkslategrey;
  opacity: 1;
}

.tweets:hover footer {
  color: #2C823B;
  border-color: #6ba775;
}


.tweets header {
  background: linear-gradient(#ffffff, #b0dbb7);
  width: 100%;
  padding: 5px 10px;
  line-height: 80px;
  margin-bottom: 10px;

}

.tweets h1 {
  display:inline;
  margin-left: 10px;
  color: #b0dbb7;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
}

.tweets .icon {
  width: 70px;
  height: 70px;
  border-radius: 5px;
  display:inline;
  float: left;
  margin-top: 8px;
  opacity: 0.5;
}

.tweets h2 {
  text-align: right;
  color: #b0dbb7 ;
  font-size: 14px;
  font-weight: normal;
  display:inline;
  margin-left: 50px;
  float: right;

}

.tweets .aTweet {
  margin: 10px;
  font-size: 18px;
  display: block;
  color: #a9a9a9;
}

.tweets footer {
  font-size: 12px;
  border-top-style: solid;
  border-width: 1px;
  border-color: #b0dbb7;
  padding-left: 10px;
  padding-top: 10px;
  margin-top: 10px;
  color: darkgrey;
}